*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 112.5%;
}

body {
    transition: background-color .3s;
    background-color: $color-dark-1;
    color: rgba($color-dark-text-passive, .5);
    position: relative;
    min-height: 100vh;
}

body.light {
    background-color: $color-light-1;
    color: rgba($color-dark-text-passive, .8);
}
