$color-primary: hsl(220, 98%, 61%);
$color-check-1: hsl(192, 100%, 67%);
$color-check-2: hsl(280, 87%, 65%);

$color-dark-1: hsl(235, 21%, 11%);
$color-dark-2: hsl(235, 24%, 19%);
$color-dark-text-active: hsl(234, 39%, 85%);
$color-dark-text-passive: hsl(234, 11%, 52%);
$color-dark-circle: hsl(237, 14%, 26%);

$color-light-1: hsl(0, 0%, 98%);
$color-light-2: hsl(236, 33%, 92%);
$color-light-text-active: hsl(235, 19%, 35%);
$color-light-text-passive: hsl(236, 9%, 61%);
$color-light-circle: hsl(233, 11%, 84%);

$border-radius: 5px;
$check-width: 20px;
$inner-check-width: 17.5px;
$transition-seconds: .3s;