@import '../../sass/utilities/variables';
@import '../../sass/utilities/mixins';

.banner-img {
    animation: fadeIn $transition-seconds;
    width: 100%;
    height: 200px;
    background: url('../../images/bg-mobile-dark.jpg') no-repeat top;
    background-size: cover;
    @include media('tablet') {
        height: 300px;
        background-image: url('../../images/bg-desktop-dark.jpg');
    }
}

.light {
    .banner-img {
        animation: fadeIn2 $transition-seconds;
        background-image: url('../../images/bg-mobile-light.jpg');
        @include media('tablet') {
            background-image: url('../../images/bg-desktop-light.jpg');
        }
    }
}

