@import '../../sass/utilities/variables';
@import '../../sass/utilities/mixins';

.banner-img {
    animation: fadeIn .3s;
    width: 100%;
    height: 200px;
    background-image: url('../../images/bg-mobile-dark.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    @include media('desktop') {
        height: 300px;
        background-image: url('../../images/bg-desktop-dark.jpg');
    }
}

.light {
    .banner-img {
        animation: fadeIn2 .3s;
        background-image: url('../../images/bg-mobile-light.jpg');
        @include media('desktop') {
            background-image: url('../../images/bg-desktop-light.jpg');
        }
    }
}

